body {
    /* background: #84dbd7; */
    overflow-y: scroll;
    margin: 0;
    /* background-color: orange; */
}

.bacpic {
    background-image: url(../source/mocrobit/gotomicro-bac.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    /* margin-top: -56px; */
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden; */
}

.font-bottom {
    height: 45px;
    width: 100%;
    background-color: #212121;
    position: absolute;
    bottom: 44px;
    z-index: 9999;
    text-align: center;
    font-family: YouYuan;
    line-height: 45px;
    color: white;
    letter-spacing: 4px;
    font-size: 15px;
    cursor: none;
}

.moreBtn {
    height: 35px;
    width: 120px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    margin-top: 40vh;
    margin-left: 30vw;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.nav {
    height: 60px;
    background-color: rgb(23, 24, 26);
    color: white;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    cursor: default;
}

.font-bottom {
    bottom: 0 !important;
}

.headd {
    height: 60px;
    background-color: rgb(23, 24, 26);
    color: white;
    padding-left: 30px;
    font-size: 30px;
    width: 450px;
    line-height: 60px;
    cursor: default;
}

.menuicon {
    background-image: url(../source/main-logo.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 5vw;
    height: 5vh;
    margin-top: 10px;
}

#bacPic {
    background-image: url(../source/watchTV/watchtv-bac.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.temTVone {
    width: 790px;
    position: relative;
    margin: 0 auto;
}

video {
    margin: 0 auto;
    padding: 0 auto;
    margin: 10vh auto;
}

.backBtn {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    z-index: 3;
    top: 350px;
    position: absolute;
    margin-left: 18vw;
}